@media all and (max-width: 1400px) {}


@media all and (max-width:1299px) {
    .container {
        width: 95%;
    }
}

@media all and (max-width:991px) {}

@media all and (max-width:767px) {}

@media all and (max-width:575px) {
    .hero-section-content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .hero-section-right img {
        width: 100%;
    }


    .hero-section-right {
        width: 307px;
    }

}