@media (max-width: 1200px) {
    .container {
        max-width: 95%;
    }

    .hero-section-left {
        width: 40%;
    }

    .hero-section-left h1 {
        font-size: 45px;
    }

    .right-section {
        width: 60%;
    }

    .main-image {
        margin: 0px -30px;
    }

    .btn h2 {
        font-size: 20px;
    }

    .btn h2 a {
        font-size: 22px;
        padding: 5px 10px;
    }

    .hero-bottom-fade {
        height: 100px;
    }
}


@media (max-width: 992px) {}


@media (max-width: 768px) {}


@media (max-width: 576px) {}


@media (max-width: 375px) {}