@media (max-width: 1200px) {
    .container {
        max-width: 95%;
    }

    .hero-section-left {
        width: 40%;
    }

    .hero-section-left h1 {
        font-size: 45px;
    }

    .right-section {
        width: 60%;
    }

    .main-image {
        margin: 0px -30px;
    }

    .btn h2 {
        font-size: 20px;
    }

    .btn h2 a {
        font-size: 22px;
        padding: 5px 10px;
    }

    .hero-bottom-fade {
        height: 100px;
    }
}

@media (max-width: 1024px) {
    .hero-section-left h1 {
        font-size: 40px;
    }

    .hero-section-left h3 {
        padding: 15px 0px;
    }

    .bullet-group {
        padding: 35px 0px 35px 0px;
    }

    .hero-section-left {
        padding: 50px 0px 40px 0px;
    }
}

@media (max-width: 991px) {
    .hero-section-content {
        flex-direction: column-reverse;
    }

    .hero-section {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .hero-section-left {
        width: 60%;
    }

    .right-section {
        width: 70%;
    }

    .hero-bottom-fade {
        bottom: 590px;
        width: 100%;
        height: 140px;
    }

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }
}


@media (max-width: 575px) {
    .hero-section {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .hero-section-left {
        width: 80%;
    }

    .right-section {
        width: 80%;
    }

    .hero-section-left h1 {
        font-size: 24px;
    }

    .hero-section-left h3 {
        padding: 10px 0px;
        font-size: 14px;
    }

    .hero-section-left p {
        font-size: 12px;
    }

    .bullet-group {
        padding: 10px 0px 20px 0px;
    }

    .bullet-group-content img {
        height: 30px;
        width: 30px;
    }

    .bullet-group-content h4 {
        font-size: 20px;
    }

    .btn h2 {
        font-size: 22px;
        border-radius: 10px;
        padding: 8px 10px 8px 14px;
    }

    .btn h2 a {
        font-size: 22px;
        padding: 3px 8px;
        border-radius: 5px;
    }

    .hero-bottom-fade {
        bottom: 490px;
    }

    .footer-content {
        flex-direction: row-reverse;
        width: 60%;
        margin: auto;
    }

    .footer-content a img {
        margin-left: 0px;
        width: 104px;
        height: 30px;
        margin-right: 10px;
    }

    .footer-content h2 {
        font-weight: 800;
        font-size: 14px;
    }


}


@media (max-width: 375px) {}